/**********************************************
        Начало общих стилей и фона
**********************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 100%/1.5em 'Montserrat', sans-serif;
}

.background {
  background: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url("images/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.las-vegas_logo {
  height: 15vh;
  text-align: center;
  margin-bottom: 1%;
}

.las-vegas_logo img {
  max-height: 100%;
  width: auto;
}
/**********************************************
        Конец общих стилей и фона
**********************************************/

/**********************************************
        Начало стилей для игрового поля
**********************************************/
.gameboard {
  position: relative;
  text-align: center;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  background-color: rgb(245, 237, 249);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}
/**********************************************
        Конец стилей для игрового поля
**********************************************/

/**********************************************
        Начало стилей для интерфейса игроков
**********************************************/
.top_btn_wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.panel_wrapper {
  height: 100%;
  display: flex;
}

.panel {
  padding-top: 5vh;
  width: 50%;
  height: 100%;
}

.active {
  background-color: rgba(249, 237, 129, 0.77);
}
/**********************************************
        Конец стилей для интерфейса игроков
**********************************************/

/**********************************************
        Начало стилей для имен игроков
**********************************************/
.type_name {
  text-align: center;
  width: 80%;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  background-color: inherit;
}

.active .player_name::after {
  content: "\2022";
  font-size: 2em;
  color: #EB4D4D;
}
/**********************************************
        Конец стилей для имен игроков
**********************************************/

/**********************************************
Начало стилей для общего количества очков игрока
**********************************************/
.total_score {
    text-align: center;
    font-size: 5em;
    color: #EB4D4D;
    margin-bottom: 10vh;
    position: relative;
}
/**********************************************
Конец стилей для общего количества очков игрока
**********************************************/


/**********************************************
Начало стилей для текущего количества очков игрока
**********************************************/
.current_box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.current_label {
    text-transform: uppercase;
    font-size: 0.7em;
    color: #222;
}

.current_score {
    font-size: 2em;
}
/**********************************************
Конец стилей для текущего количества очков игрока
**********************************************/


/**********************************************
          Начало стилей для кнопок
**********************************************/
.bottom_btn_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 1% 0;
}

.button {
    color: #555;
    background: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: #EB4D4D;
    font-size: 5vh;
    margin-right: 5px;
    line-height: 1;
}

.button:hover {
  font-weight: 600;
}

.unlucky {
  font-size: 1em;
  color: #EB4D4D;
  background-color: wheat;
}
.btn_hold {
  margin-top: 10%;
}
/**********************************************
          Конец стилей для кнопок
**********************************************/

/**********************************************
        Начало стилей для костей - 3D
**********************************************/
.dice-3d {
  transform: translate(-50%, -50%) scale(.4);
  perspective: 900px;
  left: 50%;
  top: 50%;
  perspective-origin: 50% 50%;
  position: absolute;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.dice img {
  width: 100%;
}

.dice {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%; 
}

.one {
    transform: translateZ(100px);
}

.six {
  transform: translateZ(-100px) rotateY(180deg);
}

.four {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.three {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.two {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.five {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}
/**********************************************
        Конец стилей для костей - 3D
**********************************************/

/**********************************************
        Начало стилей для победителя
**********************************************/
.win {
  font-size: 4vw;
  font-weight: 300; 
  color: #EB4D4D;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/**********************************************
        Конец стилей для победителя
**********************************************/

/**********************************************
    Начало стилей для приветственного блока
**********************************************/
.welcome {
  text-align: left;
  position: absolute;
  background-color: #DCDCDC;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  font-size: 0.7em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
  color: black;
}

.title {
  text-align: center;
  font-weight: bold;
}

.welcome_text {
  padding: 2%;
}

.welcome_text button {
  cursor: pointer;
  display: block;
  margin: 5% auto 0;
  width: 85px;
  height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  background: rgb(223, 216, 71);
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
  border: none;
}
.welcome_text button:hover {
  background: #eb6e58;
  box-shadow: 0 15px 20px rgb(236, 141, 118);
  color: white;
  transform: translateY(-2px);
}
/**********************************************
    Конец стилей для приветственного блока
**********************************************/
/* Спрятать ненужные блоки */
.hide, .winner_texthide, .roll_close {
  display: none;
}


/* Начало стилей для медиа запросов */
@media (max-width : 760px) {
  .current_box {
    width: 70%;
  }
} 
@media only screen and (orientation: portrait) and (max-width : 700px) {

  .total_score {
    font-size: 3em;
    margin-bottom: 20vh;
  }

  .current_label {
    font-size: 0.5em;
  }

  .current_box {
    width: 70%;
  }

  .current_score {
    font-size: 1em;
  }

  .button {
    font-size: 0.5em;
  }

  i {
    font-size: 3em;
  }

  .active .player_name::after {
    font-size: 1em;
  }

  .dice-3d {
    transform: translate(-50%, -50%) scale(.2);
  }

  .welcome {
    font-size: 0.5em;
  }
} 
/* Конец стилей для медиа запросов */
