/* начало стилей для фона и общего размера страницы*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url("images/background.jpg") no-repeat;
  background-size: cover;
  font-weight: 300;
  color: #555;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.las-vegas-wrapper {
  width: 12%;
  min-width: 110px;
  max-width: 140px;
  margin: 0 auto;
}

.las-vegas {
  width: 100%;
}
/* конец стилей для фона и общего размера страницы*/

/* начало стилей для игрового поля */
.game-board {
  position: relative;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(245, 237, 249);
  box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.7);
}
/* конец стилей для игрового поля */
/* начало стилей для интерфейса игроков */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel {
  padding-top: 30px;
  width: 50%;
  height: 60vh;
  min-height: 450px;
  max-height: 520px;
}

.btn-new {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}

.btn-info {
  position: absolute;
  transform: translateY(30%);
  right: 0;
}

.active {
  background-color: rgba(249, 237, 129, 0.77);
}

.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 40px;
    color: #EB4D4D;
}

/* начало стилей для имен игроков */
.player-name {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.type-name {
  max-width: 90%;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: none;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}
/* конец стилей для имен игроков */

/* начало стилей для общего количества очков  */
.total-score {
    text-align: center;
    font-size: 80px;
    font-weight: 200;
    color: #EB4D4D;
    margin-bottom: 130px;
}
/* конец стилей для общего количества очков */

/* начало стилей для текущего количества очков */
.current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    height: 85px;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.current-score {
    font-size: 30px;
}
/* конец стилей для текущего количества очков */

/* начало стилей для кнопок */
.btn-wrapper {
  width: 30%;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 334px;
  transform: translateX(-50%);
}

.in-game {
    color: #555;
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 3.4vw;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.in-game:hover {
  font-weight: 600;
}

.in-game:hover i {
  margin-right: 20px;
}

.in-game:focus {
    outline: none;
}

.unlucky {
  font-size: 2vw;
  color: #EB4D4D;
  background-color: wheat;
}
/* конец стилей для нижних кнопок */

/* начало стилей для костей - 3D*/
.dice-3d {
  transform: translate(-50%, -50%) scale(.4);
  perspective: 600px;
  left: 50%;
  top: 50%;
  perspective-origin: 50% 50%;
  position: absolute;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.dice img {
  width: 100%;
}

.dice {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%; 
}

.one {
    transform: translateZ(100px);
}

.six {
  transform: translateZ(-100px) rotateY(180deg);
}

.four {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.three {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.two {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.five {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}
/* конец стилей для костей */

/* начало стилей для победителя */
.winner .player-name {
  font-weight: 300; color: #EB4D4D;
}

.total-score p.label {
  text-align: center;
  width: 50%;
  position: absolute;
  font-size: 55px;
}
/* конец стилей для победителя */

/* начало стилей для приветственного блока */
.welcome {
  text-align: left;
  position: absolute;
  background-color: #DCDCDC;
  border-radius: 10px;
  width: 95%;
  min-width: 450px;
  height: 90%;
  top: 5%;
  left: 2.5%;
  font-size: 14px;
  box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.7);
  color: black;
}

.title {
  text-align: center;
  font-weight: 300;
}

.welcome-text {
  padding: 15px;
}

.welcome-text p {
  margin: 10px 0;
}

.welcome-text button {
  display: block;
  margin: 10px auto 0;
  width: 100px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  background: rgb(223, 216, 71);
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
  border: none;
}
.welcome-text button:hover {
  background: #eb6e58;
  box-shadow: 0 15px 20px rgb(236, 141, 118);
  color: white;
  transform: translateY(-2px);
}

.lang {
  width: auto;
  position: absolute;
  left: 10px;
  bottom: 30px;

}

.hide, .winner-text-hide, .roll-close {
  display: none;
}
/* конец стилей для приветственного блока */
/* конец стилей для интерфейса игроков */

/* Начало стилей для игрового поля при ширине экрана меньше 690px */
@media (max-width: 690px) {
  .game-board {
    width: 483px;
  }
  .unlucky {
    font-size: 14px;
  }
  .in-game {
    font-size: 10px;
  }
  i {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .las-vegas-wrapper {
    margin: 0 191px;
  }
}
/* Конец стилей для игрового поля при ширине экрана меньше 690px */
